body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fce4ec; /* Babyrosa */
    color: #333;
}

.header {
    background-color: #b3e5fc; /* Babyblau */
    color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header h1 {
    font-size: 36px;
    margin: 10px 0;
    text-transform: uppercase;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}

.nav-links a:hover {
    color: #f48fb1; /* Helles Rosa */
}

.main-content {
    padding: 40px 20px;
    text-align: center;
}

.main-content h2 {
    font-size: 30px;
    color: #57aa21; /* Babyblau */
}

.main-content p {
    font-size: 18px;
    margin-top: 20px;
}

.quicklinks .button {
    background-color: #b3e5fc; /* Babyblau */
    color: #ffffff;
    padding: 15px 30px;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.quicklinks .button:hover {
    background-color: #f48fb1; /* Babyrosa */
}

.footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
header .logo {
    max-width: 50px;  /* Setzt die maximale Breite des Logos */
    height: auto;  /* Erhält das Seitenverhältnis des Logos */
}

